
.demo_container {  }
#demo_top_wrapper { margin:0 0 0px 0; }
#demo_top { height:100px; padding:20px 0 0 0; }
#my_logo { font:70px Georgia, serif; }

#sticky_navigation_wrapper { width:100%;  }
#sticky_navigation { width:100%;  background: #fff;padding:2em;padding-bottom:1em;z-index: 1;}
	
@media(max-width:768px){
	#sticky_navigation_wrapper { width:100%; }
	#sticky_navigation { width:100%;  background: #fff;padding:0em;z-index: 1;}
	.demo_container { background:#fff; padding:1em 0 0 0; }
}
@media(max-width:640px){
	#sticky_navigation_wrapper { width:100%;  }
	#sticky_navigation { width:100%;  background:#fff;padding:1em;z-index: 1;}
}